{% include 'header.html' %}
{%block head%}
{% endblock %}
    <title>{{students_course[0].c_name}}</title>
</head>
<body>
    {% include 'navbar.html' %}
    {%block content%}
    {% endblock %}
    <div class=attendance>
        <a href="/attendance/{{students_course.c_id}}" ><button>Attendance</button> </a>
        <!-- href passing wrong url for some reasone -->
    </div>
    <div class="container">
        <h1>{{ students_course[0]['c_name'] }}</h1>
        <table>
            <tr><th>name</th><th>grade</th></tr>
            {% for sc in students_course %}
                <tr><td><a href="students/{{sc.s_id}}">{{sc.s_name}}</td> <td>{{sc.grade}}</td></tr>
            {% endfor %}
        </table>
    </div>
    <footer>
        {% include 'footer.html' %}
        {%block footer%}
        {%endblock%}
</body>
</html>