
    <div class="home_stats">
        <ul>
            <li class="course_count" id="course_count">
                <label for="course_count">Courses</label>
            </li>
            <li class="user_count" id="user_count">
                <label for="user_count">Users</label>
            </li>
            <li class="working_graduates_per" id="working_graduates_per">
                <label for="working_graduates_per">Employed graduates</label>
            </li>
        </ul>
    </div>
    <div class="footer_end">
            <p>&copy; 2023 Gali Noy's Website</p>
    </div>
</footer>