{% include 'header.html' %}
{%block head%}
{% endblock %}
    <title>Home</title>
</head>
<body>
    {% include 'navbar.html' %}
    {%block content%}
    {% endblock %}

    <script type="text/babel" src="/static/counter.js"></script>
    <script type="text/babel" src="/static/messages.js" defer></script>
    <div class=wrapper_i> 
        <fieldset class="messages"> 
            <legend>Messages:</legend>
            <div id="Hmessages"></div>
        </fieldset> 
        <div id="counter"></div>
        <div class="msg" name="msg">
            <h1>Welcome to the home page</h1>
            
        <footer>
            {% include 'footer.html' %}
            {%block footer%}
            {%endblock%}
    </div>
</body>

</html>