{% include 'header.html' %}
{%block head%}
{% endblock %}
    <title>{{students_lst[0].c_name}}</title>
</head>
<body>
    {% include 'navbar.html' %}
    {%block content%}
    {% endblock %}
    
    </div>
    <div class="atten_container">
        <div class="intro"><h4> Attendance records by name, Course: {{ students_lst[0].c_name }}</h4></div>
        
        <form action="" method="post">
            <input type="hidden" name="course_id" value="{{course_id}}">
            <input type="date" name="date" id="localDate" value="{{atten_date}}" required>
            <select name="name" id="name" required>
                <option value="" disabled selected hidden>Pick a student</option>
                {% for student in students_lst%}
                    <option value="{{student.s_id}}">{{student.s_name}}</option>
                {%endfor%}
            </select>
            <button type="submit">submit</button>
        </form>
        <div class="msg"><h4>{{msg}}</h4></div>
        <table>
            <tr><th>Name</th><th>Date</th><th>Present</th></tr>
            {%if results|length %}
                {% for val in results %}
                    <tr><td><a href="students/{{val.student_id}}">{{val.student_name}}</td> <td>{{val.date}}</td><td>{{val.present}}</td></tr>
                {% endfor %}
            {% endif %}
        </table>
</div>
<footer>
    {% include 'footer.html' %}
    {%block footer%}
    {%endblock%}
</body>
</html>