<!-- <div class="navbar"> -->
<header>
    
    <img class="logo" src="/static/img/logo.png" alt="logo">
    <nav>
        <ul class="nav_links" id="navLinks">
            {% if session['role'] %}
            <li><a href="/"> Home</a></li>
            {% else %}
            <li><a href="/home"> Home</a></li>
            {% endif %}

            <li><a href="/courses"> Our Courses</a></li>
            {% if session['role'] == 1%}
            <li id="navInfo"><a href="/student_info" >personal info</a></li>
            {% elif session['role'] == 2%}
            <li id="navInfo"><a href="/teacher_info" >personal info</a></li>
            {% elif session['role'] == 3%}
            <li id="navInfo"><a href="/admin" >Admin</a></li>
            {% endif %}
        </ul> 
        
        <!-- <form action="/search" method="POST">
            <input type="text" name="word" autofocus>
            <button type="submit">Search</button>
        </form> -->
 
    
    </nav>
    {% if session["role"] %}
     <a class="log" id="log" href="/logout"><button id="logButton"> Logout</button></a>
    {% else %} 
    <a class="log" id="log" href="/login"><button id="logButton"> Login</button></a>
    {% endif %}
</header>


