<!-- <div class="navbar"> -->
<header>
    <img class="logo" src="/static/img/logo.png" alt="logo">
    <nav>
        <ul class="nav_links">
            <li><a href="/"> Home</a></li>
            <li class="dropdown">
                    <p class="dropbth">Admin
                        <i class="fa fa-caret-down"></i>
                    </p>
                <ul class="dropdown-content" >
                    <li><a href="/admin"> Add Course</a></li>
                    <li><a href="/courses/attendance"> Attendance</a></li>
                    <li><a href="#"> Messages</a></li>
                </ul>
            </li>
            <li><a href="/courses"> Our Courses</a></li>
            <li><a href="/student_info">personal info</a></li>
        </ul>    
        <!-- <form action="/search" method="POST">
            <input type="text" name="word" autofocus>
            <button type="submit">Search</button>
        </form> -->
 
    
    </nav>
    {% if session["role"] %}
     <a class="log" id="log" href="/logout"><button id="logButton"> Logout</button></a>
    {% else %} 
    <a class="log" id="log" href="/login"><button id="logButton"> Login</button></a>
    {% endif %}
</header>


