{% include 'header.html' %}
{%block head%}
{% endblock %}
    <title>All Teachers</title>
</head>
<body>
    <div class="wrapper_i">
        {% include 'navbar.html' %}
        {%block content%}
        {% endblock %}
    
    
        <div id="root"></div>
        <div class="search" >
            <form action="/teacher_search" method="post">
                <label for="name">Search</label>
                <input type="text" name="name" placeholder="Enter Email or Name">
                <input type="submit">
            </form>
        </div>

        <a href="/admin/teachers"> {{ back }}</a>


        <table calss="table_te">
            <tr>
                <th>image</th><th>name</th><th>email</th><th>course</th>
            </tr> 
            {% for teacher in teachers %}
            <tr>
                <td><img class="p_img" src="/static/img/teachers/{{teacher.img}}" alt="teacher Profile Picture"></td>
                <td>{{ teacher.name }}</td><td>{{ teacher.email }}</td>
                {% for course in teacher.courses %}
                <td><a href="/teacher/course/{{teacher.teacher_id}}/{{course[1]}}">{{course[0] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        
                            
                       
    

        <footer>
            {% include 'footer.html' %}
            {%block footer%}
            {%endblock%}
    </div>
</body>
</html>