{% include 'header.html' %}
{%block head%}
{% endblock %}
    <title>All students</title>
</head>
<body> 
    <div class="wrapper_i"></div>
        {% include 'navbar.html' %}
        {%block content%}
        {% endblock %}
        <script src="/static/search_react.js" type="text"></script>
        
   
        <div id="root"></div>
        <div class="search" >
            <form action="/student_search" method="post">
                <label for="name">Search</label>
                <input type="text" name="name" placeholder="Enter Email or Name">
                <input type="submit">
            </form>
        </div>

        <a href="/admin/students"> {{ back }}</a>

        <table calss="table_st">
            <tr>
                <th>image</th><th>name</th><th>email</th><th>course</th>
            </tr> 
            {% for student in students %}
            <tr>
                <td><img class="p_img" src="/static/img/students/{{student.img}}" alt="Student Profile Picture"></td>
                <td>{{ student.name }}</td><td>{{ student.email }}</td>
                {% for course in student.courses %}
                    <td>{{course[0] }}</td>
                   
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
       
    

        <footer>
            {% include 'footer.html' %}
            {%block footer%}
            {%endblock%}
    </div>    
</body>
</html>