{% include 'header.html' %}
{%block head%}
{% endblock %}
    <title>All Teachers</title>
</head>
<body>
    {% include 'navbar.html' %}
    {%block content%}
    {% endblock %}
    <div id="root"></div>

    <div class="search" >
        <form action="/teacher_search" method="post">
            <input type="text" name="name" placeholder="Enter Email or Name">
            <input type="submit">
        </form>
     </div>

     <a href="/admin/teachers"> {{ back }}</a>

    <div class=container>
            {% for teacher in teachers %}
             <div class="info_card">
                <!-- <img src="student-profile-picture.jpg" alt="Student Profile Picture"> -->
                <h2>Name:{{ teacher.name }}</h2>
                <p>Email:{{ teacher.email }}<p>
                {% for course in teacher.courses %}
                    <p>Courses: <a href="/teacher/course/{{teacher.teacher_id}}/{{course[1]}}">{{course[0] }}</a></p>
                {% endfor %}

                </div>
            {% endfor %}
        </table>
    </div>
   
   

    <footer>
        {% include 'footer.html' %}
        {%block footer%}
        {%endblock%}
</body>
</html>