{% include 'header.html' %}
{%block head%}
{% endblock %}
    <title>All students</title>
</head>
<body>
    <script src="/static/search_react.js" type="text"></script>
    {% include 'navbar.html' %}
    {%block content%}
    {% endblock %}
    
    <div class="wrapper_i">
        <div id="root"></div>
        <div class="search" >
            <form action="/student_search" method="post">
                <label for="name">Search</label>
                <input type="text" name="name" placeholder="Enter Email or Name">
                <input type="submit">
            </form>
        </div>

        <a href="/admin/students"> {{ back }}</a>

        <div class="container_c">
            
                {% for student in students %}
                <div class="info_card">
                    <div class="card_i">
                        <img class="p_img" src="/static/img/students/{{student.img}}" alt="Student Profile Picture">
                    
                        
                        <h2>Name: {{ student.name }}</h2>
                        <p>Email: {{ student.email }}<p>
                        {% for course in student.courses %}
                            <p>Courses: {{course[0] }}</p>
                         {% endfor %}
                    </div>
                   
                </div>
                {% endfor %}
            
        </div>
    
    

        <footer>
            {% include 'footer.html' %}
            {%block footer%}
            {%endblock%}
    </div>    
</body>
</html>