{% include 'header.html' %}
{%block head%}
{% endblock %}
    <title>All students</title>
</head>
<body>
    {% include 'navbar.html' %}
    {%block content%}
    {% endblock %}
    
    <div class=container>
            {% for student in students %}
             <div class="info_card">
                <!-- <img src="student-profile-picture.jpg" alt="Student Profile Picture"> -->
                <h2>Name: {{ student.name }}</h2>
                <p>Email: {{ student.email }}<p>
                <p>Courses: {{ student.course }}</p>
            </div>
            {% endfor %}
        </table>
    </div>
   
   

    <footer>
        {% include 'footer.html' %}
        {%block footer%}
        {%endblock%}
</body>
</html>