{% include 'header.html' %}
{%block head%}
{% endblock %}
    <title>Course Info</title>
</head>
<body>
    {% include 'navbar.html' %}
    {%block content%}
    {% endblock %}
    <div class="wrapper_i">
        <div class="msg"> 
        {% for info in course_info %}
            <h4><h1> Course {{info.course_name}}</h1> Course Num: {{info.course_id}}</h4>
        </div>
        <table class="table1">
            <tr><th>Teacher Name</th> <th>Email</th><th>Syllabus</th></tr>
            <tr><td>{{info.teacher_name}}</td><td>{{info.email}}</td>
                <td><a href="/static/files/{{info.file}}" download>Download File</a></td></tr>
        </table>
        {% endfor %}   
        {% for i in student_info %}
        <table class="table2">
            <title></title>
            <tr><th>{{i.student_name}}'s Grade</th> <th>{{i.student_name}}'s Attendance</th></tr>
            <tr><td>{{i.grade}}</td><td>{{i.per_presence}}</td></tr>
        </table>
        {% endfor %} 
        
        
        
        <footer>
            {% include 'footer.html' %}
            {%block footer%}
            {%endblock%}
    </div>
</body>

</html>
