{% include 'header.html' %}
{%block head%}
{% endblock %}
<link rel="stylesheet" href="style.css">
    <title>Attendance</title>
</head>
<body>
    {% include 'navbar.html' %}
    {%block content%}
    {% endblock %}
    <div class="intro" id="addCourseIntro">
        <h4>To see attendance please choose date</h4>
    </div>
    <div class="date" id=date>
        <form action="" method="post">
            <input type="hidden" name="course_id" value="{{id}}">
            <input type="date" name="date" id="localDate" value="{{atten_date}}">
            <button type="submit">submit</button>
            <a href="/name_attendance/{{id}}" class="name_serch">Serach by name</a>
            
        </form>
    </div>
    <!-- <h1>{{msg}}</h1> -->

    <div class="container">
        <ul>
            {% for at in attendance_lst%}
            <li>
                <form action="/set" method="post">
                    <label class="name_lable">{{at.s_name}}</label>
                    <input type="hidden" id="course_id" name="course_id" value="{{at.c_id}}">
                    <input type="hidden" id="date" name="date" value="{{at.date}}">
                    <input type="hidden" id="student_id" name="student_id" value="{{at.s_id}}">
                    <input type="radio" name="my_radio" value="y" {% if at.present == 'y' %}checked{% endif %} onchange="update_session(this.value)">
                    <label for="present">Yes</label>
                    <input type="radio" name="my_radio" value="n" {% if at.present == 'n' %}checked{% endif %} onchange="update_session(this.value)">
                    <label for="not_present">No</label>
                    <button id="submitAtten" type="submit">Set</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    
    </div>
</body>
</html>