{% include 'header.html' %}
{%block head%}
{% endblock %}
<link rel="stylesheet" href="style.css">
    <title>Teacher COurse Info</title>
</head>
<body>
    {% include 'navbar.html' %}
    {%block content%}
    {% endblock %}

    {% for c in course_info %}
    <div class="msg" name="msg">
        <h4>Welcome to Course {{ c.c_name }}- info page </h4>
    </div>
    <table>
            <tr><th>Course Name</th><th>id</th><th>date</th></tr>
            <tr><td>{{c.c_name}}</td><td>{{c.c_id}}</td><td>{{c.date}}</td></tr>
            
    </table> 
    <table>
        <tr><th>Student Name</th><th>Grade</th><th>Avg presence</th></tr>
        {%for s in student_info%}
            <tr><td>{{s.s_name}}</td><td>{{s.grade}}</td><td>{{s.avg_presence}}</td></tr>
        {%endfor%}
    </table>  
    <div class="statistics">
        <ul>
            <li><p>Avrage Course Grade: {{c.avg_grade}}</p><img src="#" class="avg_grade" alt=""></li>
            <li><p>Avrage attendance: {{c.avg_presence}}</p><img src="#" class="attending_pie" alt=""></li>
        </ul>
    </div>
    <div class="course_links">
        <a href="/teacher/{{course_id}}/grade">Set Grades</a>
        <a href="/attendance/{{course_id}}">Attendance</a>
    </div>
    {% endfor %}  
    <footer>
        {% include 'footer.html' %}
        {%block footer%}
        {%endblock%}
</body>

</html>