{% include 'header.html' %}
{%block head%}
{% endblock %}
<link rel="stylesheet" href="style.css">
    <title>Teacher Info</title>
</head>
<body>
    {% include 'navbar.html' %}
    {%block content%}
    {% endblock %}

    {% for t in teacher %}
    <div class="msg" name="msg">
        <h4>Welcome to teacher info page, {{ t.t_name }}</h4>
       
    </div>
    
    </div>
    <div class=teacher_info>
        <img src="{{t.t_name}}.png" class="profile_picture">
        <table >
            <tr><th>Name</th><th>Email</th><th></th></tr>
            <tr><td>{{t.t_name}}</td><td>{{t.email}}</td>
                <td><a href="/teacher/update"><button id="update">Update</button></a></td></tr>
        </table>
        
        <p>Please click on course to see ferther details. </p>
        <table >
            <tr><th>Courses</th><th> Avrage Grade</th></tr>
            {%for c in course_info%}
                <tr><td><a href="/teacher/course/{{t.t_id}}/{{c.c_id}}">{{c.c_name}}</a></td><td>{{c.avg_grade}}</td></tr>
            {%endfor%}

        </table>
        
        <!-- <a class="update_button" href="/student/update"><button id="update">Update Info</button></a> -->
    </div>
    {%endfor%}
    <footer>
        {% include 'footer.html' %}
        {%block footer%}
        {%endblock%}
</body>

</html>