{% include 'header.html' %}
{%block head%}
{% endblock %}
<link rel="stylesheet" href="style.css">
    <title>Teacher Info</title>
</head>
<body>
    {% include 'navbar.html' %}
    {%block content%}
    {% endblock %}

    <div class="msg" name="msg">
        <h4>Welcome to update info page, {{s_name}}</h4>
       
    <form action="/teacher/update" method="POST">
        <label for="email">Enter New Email</label>
        <input type="email" name="email" id="email" placeholder="{{email}}" autofocus>
        <input type="submit" value="Update">
    </form>
              
    <footer>
        {% include 'footer.html' %}
        {%block footer%}
        {%endblock%}
</body>

</html>